<div class="container">
  <header class="header">
    <!--<div class="background"></div>-->
    <img src="../assets/image/bg.jpg" alt="" class="background">
  </header>
  <main class="main">
    <nav class="nav">
      <div class="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li>
          <a href="#">Хоккей</a>
          <span class="pointer"></span>
          <ul class="sub-menu">
            <li><a href="#">2008 год рождения</a></li>
            <li><a href="#">2009 год рождения</a></li>
            <li><a href="#">2010 год рождения</a></li>
            <li><a href="#">2011 год рождения</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Фигурное катание</a>
          <span class="pointer"></span>
          <ul class="sub-menu">
            <li><a href="#">Тренерский состав</a></li>
            <li><a href="#">Воспитанники школы</a></li>
            <li><a href="#">Результаты выступлений</a></li>
            <li><a href="#">Фото</a></li>
            <li><a href="#">Видео</a></li>
          </ul>
        </li>
        <li><a href="#">Плавание</a></li>
        <li><a href="#">Расписание</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <section class="content">
      <!--hockey-2008-main-->
      <div class="hockey-content">
        <h1>2008 ГОД РОЖДЕНИЯ</h1>
        <div>
          <img src="../assets/image/hockey/2008-main.jpg" alt="2008">
          <p>Первый тренер команды — Милевич Владислав Вадимович (с 2015 года до июля 2017 года). С сентября 2017 года команду тренирует Казюлин Александр Сергеевич. В чемпионате Беларуси 2017/2018 команда заняла шестое место. Более подробная информация о составе команды и ее выступлениях представлена в соответствующих вкладках.</p>
        </div>
      </div>
      <!--hockey-2008-coaches-->
      <!--<div class="hockey-content">
        <h1>ТРЕНЕРСКИЙ СОСТАВ</h1>
        <div>
          <div>
            <h2>Старший тренер — Казюлин Александр Сергеевич</h2>
            <img src="./image/hockey/kazulin.jpg" alt="hockey">
            <p>Родился 25.04.1990 г. Занимался хоккеем в г. Витебске, выступал за «Витебск-2» и «Керамин-2». Образование — высшее. Окончил высшую школу тренеров.</p>
          </div>
          <div>
            <h2>Тренер — Коров Павел Александрович</h2>
            <img src="./image/hockey/korov.jpg" alt="hockey">
            <p>Родился 16.06.1993 г. Занимался хоккеем в г. Витебске, выступал за «Витебск-2». Тренировал детей в ДЮСШ г. Витебска. Образование — высшее.</p>
          </div>
          <div>
            <h2>Тренер — Сухоменюк Станислав Сергеевич</h2>
            <img src="./image/hockey/suhomenuk.jpg" alt="hockey">
            <p>Родился 18.04.1997. Занимался хоккеем в Новополоцке. Выступал за команды «Химик-2» (Новополоцк),  СГАФКСиТ (Смоленск), участвовал в Юниорской хоккейной лиге г.  Квебека (Канада). Образование — высшее. </p>
          </div>
        </div>
      </div>-->

      <!--hockey-2009-main-->
      <!--<div class="hockey-content">
        <h1>2009 ГОД РОЖДЕНИЯ</h1>
        <div>
          <img src="./image/hockey/2009-main.jpg" alt="2009">
          <p>Первый тренер — Жильчик Артем Олегович (с сентября 2016 года до августа 2018 года). В сезоне 2018-2019 планируется участие команды в первенстве Беларуси.</p>
        </div>
      </div>-->
      <!--hockey-2009-coaches-->
      <!--<div class="hockey-content">
        <h1>ТРЕНЕРСКИЙ СОСТАВ</h1>
        <div>
          <div>
            <h2>Тренер — Коров Павел Александрович</h2>
            <img src="./image/hockey/korov.jpg" alt="hockey">
            <p>Родился 16.06.1993 г. Занимался хоккеем в г. Витебске, выступал за «Витебск-2». Тренировал детей в ДЮСШ г. Витебска. Образование — высшее.</p>
          </div>
          <div>
            <h2>Казюлин Александр Сергеевич</h2>
            <img src="./image/hockey/kazulin.jpg" alt="hockey">
            <p>Родился 25.04.1990 г. Занимался хоккеем в г. Витебске, выступал за «Витебск-2» и «Керамин-2». Образование — высшее. Окончил высшую школу тренеров.</p>
          </div>
          <div>
            <h2>Тренер — Сухоменюк Станислав Сергеевич</h2>
            <img src="./image/hockey/suhomenuk.jpg" alt="hockey">
            <p>Родился 18.04.1997. Занимался хоккеем в Новополоцке. Выступал за команды «Химик-2» (Новополоцк),  СГАФКСиТ (Смоленск), участвовал в Юниорской хоккейной лиге г.  Квебека (Канада). Образование — высшее. </p>
          </div>
        </div>
      </div>-->

      <!--<div class="fig-coaches">
        <img src="./image/figure/1.jpg" alt="1">
        <p>Тренировочным процессом руководят: Якимчук Евгений Валентинович и Хаменок Валентина Сергеевна</p>
      </div>-->
      <!--<div class="fig-athletes">
        <div>
          Бродницкая Алина Владимировна
        </div>
        <div>
          Гуменюк Виолетта Игоревна
        </div>
        <div>
          Дюрич Александра Андреевна
        </div>
        <div>
          Корзан Анна Алексадровна
        </div>
        <div>
          Кондрашевич Полина Вадимовна
        </div>
        <div>
          Малевич Ксения Андреевна
        </div>
        <div>
          Попичиц Екатерина Сергеевна
        </div>
        <div>
          Полякевич Яна Максимовна
        </div>
        <div>
          Протасовицкая Валерия Дмитриевна
        </div>
        <div>
          Сдвижкова Доминика Денисовна
        </div>
        <div>
          Степаньков Роман Сергеевич
        </div>
        <div>
          Тушинская Елизавета Андреевна
        </div>
        <div>
          Тушинская Мария Андреевна
        </div>
        <div>
          Чирец Анна Леонидовна
        </div>
        <div>
          Шершунович Иоанна Александровна
        </div>
      </div>-->
      <!--<div class="swimming">
        <img src="./image/swimming/swim_bg.jpg" alt="swimming">
        <div>
          <h1>Плавание</h1>
          <p>Плавательный бассейн работает без выходных. Расписание сеансов и тренировок опубликовано в разделе «Расписание» на главной странице.</p>
          <div class="gallery">
            <img src="./image/swimming/1.jpg" alt="1">
            <img src="./image/swimming/2.jpg" alt="2">
            <img src="./image/swimming/3.jpg" alt="3">
            <img src="./image/swimming/4.jpg" alt="4">
            <img src="./image/swimming/5.jpg" alt="5">
            <img src="./image/swimming/6.jpg" alt="6">
          </div>
        </div>
      </div>-->
      <!--<div class="contacts">
        <h1>Контакты</h1>
        <div>
          <h2>Учебно-спортивное учреждение «Детско-юношеская спортивная школа Ивацевичского района»</h2>
          <p>Директор</p>
          <p>Саскевич Алексей Петрович</p>
          <p>Юридический адрес:</p>
          <p>225295, г. Ивацевичи, ул. Спортивная, 3</p>
          <p>Контактный телефон:</p>
          <p>(801645)90152(приёмная), 90153 (директор)</p>
          <p>Виды спорта:</p>
          <p>хоккей с шайбой, фигурное катание, плавание</p>
        </div>
      </div>-->
      <!--<div class="main">
        <h1>Главная</h1>
        <div>
          14-16 сентября 2018 года в ледовом дворце состоится турнир по хоккею среди детей 2009 года рождения. С расписанием игр можно ознакомиться в разделе «Расписание».
        </div>
      </div>-->
    </section>
  </main>
  <footer class="footer">
    <section>&copy; 2019 Ивацевичи Ледовый Дворец</section>
    <section><a target="_blank" href="https://www.onliner.by">yakimchuk.by</a></section>
  </footer>
</div>

